@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  @apply font-poppins;
}

@layer utilities {
  /* Estilos para el scroll en navegadores WebKit (Chrome, Edge, Safari) */

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #0D2F13;
  }

  ::-webkit-scrollbar-thumb {
    background: #14591D;
    border-radius: 10px;
  }

  /* Ocultar flechas en WebKit (Chrome, Safari, Edge) */
  .no-arrows::-webkit-inner-spin-button,
  .no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}